body {
    background-color: hsl(212, 45%, 89%);
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    width: 350px;
    height: 525px;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 320px;
    border-radius: 20px;
}

.texts {
    width: 320px;
}

h2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    text-align: center;
}

p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 500px) {
    .container {
        width: 310px;
    }

    h2 {
        font-size: 25px;
    }
    
    p {
        font-size: 15px;
    }
}